@charset "utf-8";
#wrap{
	width: 1900px;
	margin: 0 auto;
}
body{
	-ms-overflow-style: none;
	overflow-x: hidden;
}
#header{
	display: flex;
	width: 1900px;
	height: 200px;
	margin: 0 auto;
    justify-content: space-around;
	
}


#header div ul li{
	display: inline;
	padding-left: 20px;
	
}
#header div ul{
	padding-top: 80px;
}

.AUD{
	font-size:70px;
	color:black;
	 width:400px;
	position: relative;
	top: 30px;
	}

#logo{
		width: 200px;
		height: 200px;
}
	