<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.co.kr.mapper.artistMapper">
	<select id="profile" parameterType="team.co.kr.entity.Artist"  resultType="team.co.kr.entity.Artist">
		select * from artist where name=#{name}
	</select>
	<select id="groupprofile" parameterType="team.co.kr.entity.GroupArtist"  resultType="team.co.kr.entity.GroupArtist">
		select * from groupartist where groupname=#{groupname}
	</select>
</mapper>




	