<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.co.kr.mapper.ItemMapper">
	<insert id="insertItem" parameterType="team.co.kr.entity.Item">
		insert into Item
		(idx,itemname,itemprice,itemimg,itemstock,itemartist)
		values(
		item_seq.nextval,
		#{itemname},
		#{itemprice},
		#{itemimg},
		#{itemstock},
		#{itemartist}
		)
	</insert>
</mapper>