<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.co.kr.mapper.ItemMapper">
	<insert id="insertItem" parameterType="team.co.kr.entity.Item">
		insert into Item
		(idx,itemname,itemprice,itemimg,itemstock,itemartist)
		values(
		item_seq.nextval,
		#{itemname},
		#{itemprice},
		#{itemimg},
		#{itemstock},
		#{itemartist}
		)
	</insert>
	<update id="buyitem" parameterType="hashMap">
		<selectKey keyProperty="bank" order="BEFORE" resultType="int">
			select bank from member 
			where id = #{member.id} 			
		</selectKey>

			update member set bank = bank-#{item.itemprice}
			where id = #{member.id}		
	</update>

	<select id="mybank" parameterType="hashMap" resultType="Integer">
		select bank-#{item.itemprice} from member where id=#{member.id}
	</select>		
</mapper>