<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.co.kr.mapper.memberMapper">
	<insert id="joinmember" parameterType="team.co.kr.entity.Member">
		insert into member
		(id,name,pwd,birth,gender,email,phone,addr)
		values(
		#{id},
		#{name},
		#{pwd},
		#{birth},
		#{gender},
		#{email},
		#{phone},
		#{addr}
		)

	</insert>
	
	<select id="loginmember"
		parameterType="team.co.kr.entity.Member"
		resultType="team.co.kr.entity.Member">
		select * from member where id= #{id} and pwd= #{pwd}
	</select>
	
	<select id="checkId" parameterType="team.co.kr.entity.Member" resultType="int">
		select count(*) from member
		where id=#{id}
	</select>
	
	<update id="bank" parameterType="team.co.kr.entity.Member">
	<selectKey keyProperty="bank" resultType="team.co.kr.entity.Member" order="AFTER">
	SELECT bank
	from member
	where id=#{id}	
	</selectKey>
	
	update member  SET bank =#{bank}+bank
	where id=#{id}
	</update>
	
</mapper>

