<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.co.kr.mapper.NoticeMapper">
	<select id="list" resultType="team.co.kr.entity.NoticeVO">
		select bno, tittle, url, date3, hit
		from(
			select rownum rnum, bno, tittle, url, date3, hit
			from (
					select bno, tittle, url, date3, hit
					from notice
					<include refid="search"/> <!--  검색을 읽어야됨 -->
				)
		)	
		where rnum between #{startRow} and #{endRow}
			<!-- rownum 순서대로 나온다 rnum 1번부터한다 -->
	</select>
	
	<select id="noti" resultType="team.co.kr.entity.NoticeVO">
	 	select bno, tittle, url, date3, hit
	 	from notice
	 	where bno=#{bno}
	</select>
	<select id="getTotalRow" resultType="Long">
		select count(*)
		from notice
		<include refid="search"/> <!--  검색을 읽어야됨 -->
	</select>
	
	<!--동적query  -->
	<sql id="search">
		<!--검색이 필요한경우  -->
		<if test="word != null and word != ''">
			where 1 = 0
			<if test ="key.indexOf('t') >= 0">
				or tittle like '%' || #{word} || '%'
			</if>
			<if test ="key.indexOf('c') >= 0">
				or url like '%' || #{word} || '%'
			</if>
			
		</if>
	
	</sql>
	
	<update id="increase">
	 	update notice
	 	set hit = hit +1
	 	where bno = #{bno}
	</update>
	
	
	<select id="getURLByBno" resultType="java.lang.String">
        SELECT url
        FROM notice
        WHERE bno = #{bno}
    </select>
	
</mapper>